@tailwind base;
@tailwind components;
@tailwind utilities;

/* Glancyr Bold */
@font-face {
  font-family: "Glancyr";
  src: url("/fonts/Glancyr-Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

/* Glancyr Italic */
@font-face {
  font-family: "Glancyr";
  src: url("/fonts/Glancyr-Italic.otf") format("opentype");
  font-weight: 400; /* Normal weight for Italic */
  font-style: italic;
}

/* Glancyr Regular */
@font-face {
  font-family: "Glancyr";
  src: url("/fonts/Glancyr-Regular.otf") format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

body {
  color: #e5e7e8;
}
