@tailwind base;
@tailwind components;
@tailwind utilities;

/* Glancyr Bold */
@font-face {
  font-family: "Glancyr";
  src: url("/fonts/Glancyr-Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

/* Glancyr Italic */
@font-face {
  font-family: "Glancyr";
  src: url("/fonts/Glancyr-Italic.otf") format("opentype");
  font-weight: 400; /* Normal weight for Italic */
  font-style: italic;
}

/* Glancyr Regular */
@font-face {
  font-family: "Glancyr";
  src: url("/fonts/Glancyr-Regular.otf") format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

body {
  color: #e5e7e8;
  background: linear-gradient(to right, black, #313d46);
}

.svg-mask {
  @apply bg-orange-500; /* Default color */
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.svg-mask:hover {
  @apply bg-white; /* Color on hover */
}
